@using TechShop.Models
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@model X.PagedList.IPagedList<TSanPham>
@{
    ViewData["Title"] = "tSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-md-12">
    <div class="page_title">
        <h2>Danh mục sản phẩm</h2>
    </div>
</div>
<p>@TempData["success"]</p>
<p>@TempData["errror"]</p>
<a asp-action="Create" class="btn btn-dark text-white font-weight-bold">Create New</a>

<div class="table-responsive-sm">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>
                    Tên sản phẩm
                </th>
                <th>
                    Hạn bảo hành
                </th>
                <th>
                    Ảnh sản phẩm
                </th>
                <th>
                    Giá nhỏ nhất
                </th>
                <th>
                    Khối lượng
                </th>
                <th>
                    Độ dày
                </th>
                <th>
                    Giá lớn nhất
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenSanPham)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HanBaoHanh)
                    </td>
                    <td>
                        <img class="img-fluid" src="~/img/@item.AnhSanPham" alt="Ảnh sản phẩm">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaNhoNhat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KhoiLuong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DoDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaLonNhat)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-masp="@item.MaSanPham" class="btn btn-primary btn-sm">Edit</a>
          
                        <a asp-action="Delete" asp-route-msp="@item.MaSanPham" class="btn btn-danger btn-sm">Delete</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">@Html.PagedListPager(Model, page => Url.Action("tSanPham", new { page = page }), new PagedListRenderOptions { LiElementClasses = new string[] { "page-item" }, PageClasses = new string[] { "page-link" } })</li>
        </ul>
    </nav>
</div>